.bg-special{
    background-color: black;
}
.sectionIletisim{
    margin-top:-5px;
    background-color: rgba(254, 255, 233, 0.608);
}

.footerA{
    color:white;
    text-decoration: none;

}
.footerLi{
    list-style-type: none;
}