.bg-elis{
    background-color: black;
}
* {box-sizing:border-box}

.bilgi p{
    font-size: 17px;
    padding-left: 15%;
    padding-bottom: 5px;
    padding-right: 15%;
    text-align: center;
    margin-top: 5px;

}

  


